<!--this is the parent template for all the pages:-->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--<style>-->
        <!--body{-->
        <!--background: #ffbc24;-->
        <!--}-->

    <!--</style>-->
</head>
<body>
<p>
    <a href="{% url 'learning_logs:index' %}">Learning Log</a>
    <a href="{% url 'learning_logs:topics' %}">Topics</a>
</p>

{% block content %}{% endblock content %}
</body>
</html>