<!--Home page for learning logs app-->
<!DOCTYPE html>
{% extends "learning_logs/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning_Logs</title>



</head>
<body>
{% block content %}
<h1 style="color: red;">Welcome Learning Logs Home page</h1>
<p>
    Learning Log helps you keep track of your learning, for any topic you're learning about.
</p>
{% endblock content %}
</body>
</html>