<!DOCTYPE html>
{% extends "learning_logs/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LearningLogsTOPICS</title>
</head>
<body>
{% block content%}
<p>Topics</p>
<ul>
    {% for topic in topics%}
        <li>{{ topic }}</li>
    {% empty%}
        <li>No topics have been added yet.</li>
    {% endfor %}
</ul>

{%endblock content%}
</body>
</html>